html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.scroll-space {
    height: 1200vh; /*This is max length of Screen*/
}

#animCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;

}


/* ------------------------------
   LOADING OVERLAY
------------------------------ */
#loading-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55); /* more transparent */
    backdrop-filter: blur(2px);      /* optional subtle glass effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

#loading-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Loader text */
.loader-text {
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1.7em;
    letter-spacing: 1px;
    opacity: 1;
    transition: opacity 0.4s ease;
}


/* -------------------------------------
   COUNTDOWN OVERLAY
--------------------------------------- */
#countdown-timer {
    position: fixed;
    top: 20px;
    left: 20px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: 1px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 7;
}

#play-button {
    position: fixed;
    top: 28px;
    left: 24px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 7;
    user-select: none;
}
#play-button .triangle {
    width: 0;
    height: 0;

    /* PURE CSS TRIANGLE */
    border-left: 17px solid rgba(0, 0, 0, 0.75);   /* triangle color */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    /* center vertically inside the container */
    margin-top: 2px;
}
#play-button:hover {
    opacity: 1;
}



/* -------------------------------------
   ROTATE DEVICE OVERLAY
--------------------------------------- */
#rotate-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;

}

.rotate-phone {
    position: relative;

    width: 70px;
    height: 140px;

    margin-bottom: 15px;
    animation: rotatePhone 1.5s ease-in-out infinite alternate;
}


.rotate-phone .phone-frame {
    width: 100%;
    height: 100%;

    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 14px;
    position: relative;
}

.rotate-phone::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 42%;
    height: 3px;
    background: white;
    border-radius: 10px;
    opacity: 0.9;
}

.rotate-text {
    font-size: 1.1em;
    color: white;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
}




@keyframes rotatePhone {
    0% {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(.45, .03, .65, .15);
    }

    60% {
        transform: rotate(-93deg);
        animation-timing-function: cubic-bezier(.20, .90, .35, 1);
    }

    100% {transform: rotate(-90deg);}
}

@media (orientation: portrait) {
    #rotate-overlay {
        opacity: 1;
        visibility: visible;
    }
}

/* Hide the overlay on desktop */
@media (min-width: 900px) {
    #rotate-overlay {
        display: none;
    }
}


